---
import Logo from "@/components/Logo.astro";
import { nav_button } from "@/config/config.json";
import menu from "@/config/menu.json";

const pathname = new URL(Astro.request.url).pathname;

export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}

const { main }: { main: NavigationLink[] } = menu;
---

<header class="header">
  <nav class="navbar container">
    <!-- logo -->
    <div class="order-0">
      <Logo />
    </div>
    <!-- navbar toggler -->
    
    <!-- /navbar toggler -->
    {
      nav_button.enable && (
        <div class="order-1 ml-auto hidden items-center md:order-2 md:ml-0 md:flex md:min-w-[150px] lg:min-w-[200px]" id="registerDiv">
          <a
            class="btn btn-primary z-0 ml-auto py-[14px]"
            href={nav_button.link}
          >
            {nav_button.label}
          </a>
        </div>
      )
    }
  </nav>
</header>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const registerDiv = document.getElementById("registerDiv");
    if (window.location.href.includes("/registro")) {
      registerDiv.style.display = "none";
    }
  });
  document.querySelectorAll(".dropdown-button").forEach((button) => {
    button.addEventListener("click", (e) => {
      const dropdown = e.target.nextElementSibling;
      dropdown.classList.toggle(
        dropdown.style === "hidden" ? "block" : "hidden"
      );
    });
  });

  //sticky header
  document.addEventListener("astro:page-load", () => {
    const header = document.querySelector(".header");
    window.addEventListener("scroll", () => {
      if (window.scrollY > 0) {
        header.classList.add("header-sticky");
      } else {
        header.classList.remove("header-sticky");
      }
    });
  });
</script>
